chardet
Flask==3.0.3
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
gunicorn==22.0.0
openai
pydantic==1.10.13
PyPDF2
requests==2.32.3
thinc
tiktoken
waitress==2.1.2
#numpy==1.23.5
#nltk
#spacy~=2.3.5
#pyresparser==1.0.6
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz