Flask==3.0.3
#pyresparser==1.0.6
requests==2.32.3
gunicorn==22.0.0
waitress==2.1.2
numpy==1.23.5
nltk
spacy~=2.3.5
pyresparser==1.0.6
thinc
pydantic==1.10.13
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib